import React from 'react';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';

{{#if wantActionsAndReducer}}
import reducer from './reducer';
{{/if}}

/* eslint-disable react/prefer-stateless-function */
export class {{ properCase name }} extends {{{ type }}} {
  render() {
    return (
      <div>
        //connect those components
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {
  dispatch: PropTypes.func.isRequired,
};

{{#if wantActionsAndReducer}}
const mapStateToProps = () => {  
   return{
        //{{ lowerCase name }}: state.?
    } 
};
{{/if}}

function mapDispatchToProps(dispatch) {
  return {
    dispatch,
  };
}

{{#if wantActionsAndReducer}}
export default connect(mapStateToProps, mapDispatchToProps)({{ properCase name }});
{{else}}
export default connect(null, mapDispatchToProps)({{ properCase name }});
{{/if}}

